<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <main class="main-product-detail">
        <nav class="nav-dishes">
            <% let index = productList.indexOf(product) %>
            <% let length = productList.length %>

            <% if(index == 0) {%>
                
                <p><a href="/products/<%= productList[length-1].idCat %>/<%= productList[length-1].id %>"><i class="fas fa-angle-left"></i>Anterior plato</a></p>
                
            <% } else { %>
                
                <p><a href="/products/<%= productList[index-1].idCat %>/<%= productList[index-1].id %>"><i class="fas fa-angle-left"></i>Anterior plato</a></p>
            
            <% } %> 
            
            <p><a href="/products"><i class="fas fa-utensils"></i>Menú principal</a></p>
            
            <% if(index == length-1) {%>
                
                <p><a href="/products/<%= productList[0].idCat %>/<%= productList[0].id %>">Siguiente plato<i class="fas fa-angle-right"></i></a></p>
                
            <% } else { %><p><a href="/products/<%= productList[index+1].idCat %>/<%= productList[index+1].id %>">Siguiente plato<i class="fas fa-angle-right"></i></a></p>
                    
            <% } %>
        </nav>
        <br>

        <h1>Detalle del producto</h1>
        
        <article class="main-product">
            <h2 class="title"><%= product.name %></h2>
            <img id="main-image" src="/images/<%=product.img %>" alt="<%= product.name %>">
            <div class="main-detail">
                <h2 class="title0"><%= product.name %></h2>
                <p class="name"><%= product.description %></p>
                <p class="price">$<%= product.price %></p>

                <% if(product.discount === true) {%>
                    <p class="discount">-<%= product.discountAmount %>% OFF</p>
                <% } %>

                <p class="list">Elegir la cantidad: 
                    <select name="lista">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
                <br>
                <form action="/cart">
                    <button class="add-button" type="submit">Agregar al carrito</button>
                </form>
            </div>
        </article>
        <br>

        <section>
            <h1>Productos relacionados</h1>
            <article class="reco">

                <% for( let productR of productRel) { %>
                <div class="product">
                    
                    <img id="image" src="/images/<%= productR.img %>" alt="" title="">
                    
                    <div class="info">
                        <p class="price">$ <%= productR.price %></p>
                        <% if(productR.discount === true) {%>
                            <p class="discount">-<%= productR.discountAmount %>% OFF</p>
                        <% } %>
                        <p class="name"><%= productR.name %> </p>
                        <p class="descrip"><%= productR.description %> </p>
                        
                    </div>
                    <div class="add-to">
                        <p class="list">Elegir la cantidad: 
                            <select name="lista">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <form action="/cart">
                            <button class="add-button" type="submit">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
                <% } %>

            </article>

        </section>

    </main>

    <%- include('partials/footer.ejs') %> 
</body>
</html>