<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <main class="main-products">
        
        <h1>Productos de menú</h1>
        <br> 
        <section class="section-article">
            <% for(let product of productList){ %>
            <article class="main-article">
                <img src="/images/products/<%= product.img %>" alt="<%= product.name %>">
                <div class="product-detail">
                    <h5 class="product-name"> <%= product.name %> </h5>
                    <p class="price">$ <%= product.price %></p>

                    <% if(product.discount == true) {%>
                        
                        <p class="discount"><%= product.discountAmount %> % OFF</p>
                        
                    <% } else {%> <p class="discount-hidden"><%= product.discountAmount %> % OFF</p> <% } %>
                    <br>
                </div>
                <form action="/products/<%= product.idCat %>/<%= product.id %>">
                    <button type="submit" class="btn-detail">Ver detalle</button>
                </form>

            </article>
            <% } %> 
    
        </section>
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>