<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %>

    <main class="main-user">

        <form class="log-container-profile" action="/user/edit/<%= usuario.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div>           
                <a href="#">Historial de compras</a>
            </div>
            
            <br>
            
            <h2>Información personal de <%= usuario.username %> </h2>

            <h5></h5>   
            
            <div class="container">

                <i class="fas fa-id-badge"></i>
                
                <input class="log-item" type="text" name="firstName" id="firstName" placeholder="Nombre" required minlength="3" value="<%= usuario.firstName %>">

            </div>


            <div class="container">

                <i class="far fa-id-badge"></i>
                
                <input class="log-item" type="text" name="lastName" id="lastName" placeholder="Apellido" required minlength="3"
                value="<%= usuario.lastName %>">

            </div>

            <div class="container">

                <i class="fas fa-map-marker-alt"></i>
                
                <input class="log-item" type="text" name="address" id="address" placeholder="Domicilio" required minlength="8"value="<%= usuario.address %>">

            </div>

            <div class="container">

                <i class="fas fa-mobile-alt"></i>
                
                <input class="log-item" type="tel" name="phone" id="phone" placeholder="Teléfono" required minlength="10"value="<%= usuario.phone %>">

            </div>

            

            <div class="container">

                <i class="fas fa-user"></i>
                
                <input class="log-item" type="text" name="username" id="username" placeholder="Usuario" required minlength="6"value="<%= usuario.username %>">

            </div>


            <div class="container">

                <i class="fas fa-at"></i>

                <input class="log-item" type="email" name="email" id="email" placeholder="E-Mail" required minlength="13" value="<%= usuario.email %>">

            </div>

            <div class="container">
                
                <i class="fas fa-users-cog"></i>

                <select name="category" id="category" class="log-item">

                    <option value="administrador">administrador</option>
                    <option value="usuario">usuario</option>
                    <option value="visitante">visitante</option>

                </select>

            </div>
            
            <div class="container">

                <i class="fas fa-user"></i>
                
                <input class="log-item" type="file" name="image" id="image">

            </div>

            <div class="container">

                <i class="fas fa-lock"></i>
                
                <input class="log-item" type="password" name="password" id="password" placeholder="Contraseña" required minlength="8">

            </div>

            <div class="container">

                <i class="fas fa-lock"></i>
                
                <input class="log-item" type="password" name="passLog" id="rePassLog" placeholder="Repetir Contraseña" required minlength="8">

            </div>             
            
            <div class="container-button">
                
                <button class="log-button">Guardar</button>
                
                <button class="log-button" type="reset">Borrar</button>

            </div>     
            
        </form>
        
    </main>

    <%- include('partials/footer.ejs') %> 

</body>
