<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <main>
        <nav class="nav-dishes">
            
            <p><a href="#"><i class="fas fa-angle-left"></i>Anterior plato</a></p>
            <p><a href="/products"><i class="fas fa-utensils"></i>Menú principal</a></p>
            <p><a href="#">Siguiente plato<i class="fas fa-angle-right"></i></a></p>
        </nav>
        <br>

        <h1>Detalle del producto</h1>
        
        <article class="main-product">
            <h2 class="title"><%= product.name %></h2>
            <img id="main-image" src="/images/<%=product.img %>" alt="<%= product.name %>">
            <div class="main-detail">
                <h2 class="title0"><%= product.name %></h2>
                <p class="name"><%= product.description %></p>
                <p class="price">$<%= product.price %></p>
                <p class="list">Elegir la cantidad: 
                    <select name="lista">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </p>
                <br>
                <a href="/cart" class="add-button">Agregar al carrito</a>
            </div>
        </article>
        <br>

        <section>
            <h1>Productos relacionados</h1>
            <article class="reco">

                <% for( let productR of productRel) { %>
                <div class="product">
                    
                    <img id="image" src="/images/<%= productR.img %>" alt="" title="">
                    
                    <div class="info">
                        <p class="price">$ <%= productR.price %></p>
                        <p class="dicount"><%= productR.discountAmount %> % off</p>
                        <p class="name"><%= productR.name %> </p>
                        <p class="descrip">Descripción: <%= productR.description %> </p>
                        
                    </div>
                    <div class="add-to">
                        <p class="list">Elegir la cantidad: 
                            <select name="lista">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <a href="/cart" class="add-button">Agregar al carrito</a>
                    </div>
                </div>
                <% } %>

            </article>

        </section>

    </main>

    <%- include('partials/footer.ejs') %> 
</body>
</html>