<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %> 

    <main class="main-cart">

        <div class="tittle-close">
            <h2 class="tittle-page">Carrito de compras</h2>
            <a href="/" class="fas fa-times close"></a>
        </div>
    
        <% for(let producto of productList) { %>
            <article class="main-article">
             <img src="/images/products/<%- producto.img %>" alt="<%- producto.name %>">
             <div class="product-detail">
                 <i class="fas fa-trash trash"></i>
                 <br>
                 <h3>
                     <%= producto.name %>
                 </h3>
                 <br>
                 <h4>
                    $ <%= producto.price %>
                 </h4>
                 <br>
                 <div class="subtotal-module">
                     <form action="" method="">
                         <select class="quantity" name="quantity" id="quantity">
                             <option value="1" selected>1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                             <option value="5">5</option>
                         </select>
                     </form>
                     <span class="subtotal">
                         $ <%= producto.price %>
                     </span>
                 </div>
             </div>
         </article>
     
         <% } %> 
    
        <section class="end-section">
            <div class="end-subtotal">
                <h4>Subtotal</h4>
                <span></span>
            </div>
            <div class="shipping">
                <h4>Envío</h4>
                <span>Por definir</span>
            </div>
            <div class="total">
                <h4>Total</h4>
                <span>$4350</span>
            </div>
        </section>
    
        <form action="/cart" method="get" class="apply-code">
            <input type="text" name="discount-code" id="discount-code" placeholder="Código de descuento" minlength="8" maxlength="12" class="code">
            <button type="submit" value="apply" class="apply">Aplicar</button>
        </form>
        <form action="/notFound" method="get" class="button">
            <button type="submit" value="end" class="end">Finalizar Compra</button>
        </form>
        <form action="/" method="get" class="button">
            <button type="submit" value="continue" class="continue">Seguir comprando</button>
        </form>

    </main>

    <%- include('partials/footer.ejs') %> 

    <script>
        // Función para agregar productos al carrito
        
        const f_total = () => {
            let subtotal = 0;
            let textSubtotal = document.querySelectorAll('.subtotal-module span')
            textSubtotal.forEach(function(item){
                subtotal += parseFloat(item.innerText.replace('$', ''));
            });
            
            document.querySelector('.end-subtotal span').innerText = '$' + subtotal.toFixed(2);
        };
        // Funcion para boton de eliminar producto
        document.querySelectorAll('.product-detail').forEach(function(item){
            item.addEventListener('click', function(e){
                if(e.target.classList.contains('trash')){
                    e.target.parentElement.parentElement.remove();
                    f_total();
                }
            });
        });
        // Funcion para cambiar cantidad de productos
        document.querySelectorAll('.quantity').forEach(function(item){
            item.addEventListener('change', function(e){
                let subtotal = e.target.parentElement.parentElement.parentElement.querySelector('h4').innerText.replace('$', '');
                let total = parseFloat(subtotal) * parseFloat(e.target.value);
                e.target.parentElement.nextElementSibling.innerText = '$' + total.toFixed(2);
                f_total();
            });
        });
        
        f_total();
    </script>

</body>
</html>