<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>

    <main class="main-product-detail">

        <nav class="nav-dishes">
            <% let length = productList.length %> 
    
            <% if(product.id == 1) {%>
                    
                <p><a href="/products/<%= productList[length-1].idCat %>/<%= productList[length-1].id %>"><i class="fas fa-angle-left"></i>Anterior plato</a></p>
                    
            <% } else { %>
                    
                <p><a href="/products/<%= productList[product.id-2].idCat %>/<%= productList[product.id-2].id %>"><i class="fas fa-angle-left"></i>Anterior plato</a></p>
                
            <% } %> 
                
            <p><a href="/products"><i class="fas fa-utensils"></i>Menú principal</a></p>
                
            <% if(product.id == length) {%>
                    
                <p><a href="/products/<%= productList[0].idCat %>/<%= productList[0].id %>">Siguiente plato<i class="fas fa-angle-right"></i></a></p>
                    
            <% } else { %><p><a href="/products/<%= productList[product.id].idCat %>/<%= productList[product.id].id %>">Siguiente plato<i class="fas fa-angle-right"></i></a></p>
                        
            <% } %>
        </nav>
       
        <br>

        <h1>Detalle del producto</h1>
        
        <article class="main-product">
            <h2 class="title"><%= product.name %></h2>
            <img id="main-image" src="/images/products/<%=product.img %>" alt="<%= product.name %>">
            <div class="main-detail">
                <h2 class="title0"><%= product.name %></h2>
                <p class="name"><%= product.description %></p>
                
                <% if(product.discountAmount !== 0) {%>
                    <div class="discount-div">
                        <p class="price-original">$<%= product.price %></p><p class="price">$<%= (product.price-(product.price*(product.discountAmount/100))).toFixed(2) %></p>
                    </div>
                    <p class="discount">-<%= product.discountAmount %>% OFF</p>
                <% } else {%>
                    <p class="price">$<%= product.price %></p>
                <% } %> 

                <form class="add-to" action="/cart/<%= product.id %>" method="POST">
                    <p class="list">Elegir la cantidad: 
                        <select name="quantity">
                            <option value=1 >1</option>
                            <option value=2 >2</option>
                            <option value=3 >3</option>
                            <option value=4 >4</option>
                            <option value=5 >5</option>
                        </select>
                    </p>
                    <button class="add-button" type="submit">Agregar al carrito</button>
                </form>

                <% if( locals.userLogged && locals.userLogged.category === 'administrador' ) {%>
                    
                    <div class="delete-edit-div">
                        <form class="edit-btn" action="/products/edit/<%= product.id %>" method="GET">
                            <button type="submit">Editar</button>
                        </form>
                        <form class="delete-btn" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit">Eliminar</button>
                        </form>
                    </div>   
                
                <% } %>  

        </article>
        <br>

        <section>
            <h1>Productos relacionados</h1>
            <article class="reco">

                <% for( let productR of productRel) { %>
                <div class="product">
                    
                    <img id="image" src="/images/products/<%= productR.img %>" alt="" title="">
                    
                    <div class="info">
                        <p class="price">$ <%= productR.price %></p>
                        <% if(productR.discountAmount !== 0) {%>
                            <p class="discount">-<%= productR.discountAmount %>% OFF</p>
                        <% } %>
                        <p class="name"><%= productR.name %> </p>
                        <p class="descrip"><%= productR.description %> </p>
                        
                    </div>
                    <form class="add-to" action="/cart" method="POST">
                        <p class="list">Elegir la cantidad: 
                            <select name="quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </p>
                        <button class="add-button" type="submit">Agregar al carrito</button>
                    </form>
                </div>
                <% } %>

            </article>

        </section>

    </main>

    <%- include('../partials/footer.ejs') %> 
</body>
</html>